body{
    background-color: #242424;
    align-items: center;
    align-items: center;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin-top: 40px;
    padding: 0;
    text-align: center;
}

form{
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20px;
    width: 300px;
}

input[type="text"], input[type="email"], input[type="password"]{
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    color: #242424;
    margin-bottom: 15px;
    padding: 10px;
    width: 80%;
}

button{
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}